.textArea {
  width: 100%;
  height: 100%;
  margin: 250px 0px 0px -160px;
  line-height: 200%;
  float: none;
}

.Main_comment {
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Main_comment .text-style-1 {
  font-size: 23px;
  font-weight: normal;
  color: #c4c4c4;
}

.plus {
  width: 50px;
      height: 50px;
      flex-grow: 0;
      float: right;
      margin-top: -5px;
      margin-right: -130px;
      color: red;
      font-size: 50px;
      font-weight: bold;
      /* font-style: unset; */
      padding-bottom: 6px;
}

.grid {
  display: grid;
  max-width: 1300px;
  width: 100%;
  margin: 13px 55px 0px 200px;
  min-height: 400px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 20px;
  grid-gap: 5px;
}

.item {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.item > img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(221, 208, 208, 0.87);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.item:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

/*------------ Modal detail--------------*/

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_main {
  position: relative;
  width: 1000px;
  height: 800px;
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
}
.modal_title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
.close_wrapper {
  position: absolute;
  top: 24px;
  right: 16px;
}
.close_wrapper #close {
  cursor: pointer;
}

.detail-img {
  float: left;
  width: 500px;
  height: 752px;
  background-color: aquamarine;
}
.detail-img > img {
  width: 100%;
}

.detail-content {
  float: right;
  background-color: yellow;
  width: 450px;
  height: 200px;
  margin-top: 0;
  margin-right: 0;
}
.detail-reply-write {
  float: right;
  background-color: pink;
  width: 450px;
  height: 80px;
  margin-top: 20px;
  margin-right: 0;
}

.detail-reply {
  float: right;
  background-color: green;
  width: 450px;
  height: 432px;
  margin-top: 20px;
  margin-right: 0;
}

/*------------ Modal write --------------*/

.modal_wrapper-w {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_main-write {
  position: relative;
  width: 1000px;
  height: 800px;
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
}
.modal_title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
.close_wrapper-w {
  position: absolute;
  top: 24px;
  right: 16px;
}
.close_wrapper-w #close {
  cursor: pointer;
}

.detail-img {
  float: left;
  background-color: purple;
  width: 470px;
  height: 752px;
  margin-top: 0;
  margin-right: 10px;
}
.detail-write {
  float: right;
  background-color: orange;
  width: 470px;
  height: 752px;
  margin-top: 0;
  margin-right: 0;
}
